#banner {
    background-image: url(../assets/banner.jpg);
    /* margin: 0;
    padding: 0; */
    background-size: cover;
    /* background-position: top center; */
    background-repeat: no-repeat;
    /* background-attachment: inherit; */
    /* max-width: 100%; */
    /* height: auto; */
    /* height: 25vh; */
    /* width: 100vw; */
}

#why {
    /* text-align: center; */
    /* height: 25vh; */
    font-family: 'Niconne', cursive; 
    /* font-family: 'Quintessential', cursive; */
    /* font-size: 80px; */
    transform: scale(1.5, 2);
    text-shadow: #28100C 3px 1px 2px;
    color: #E3DAC9;
    /* width: 100%; */
}

#welContainer {
    background-color: rgba(240, 128, 128, 0);
    font-family: 'Niconne', cursive; 
    color: #E3DAC9;
    text-shadow: #28100C 3px 1px 2px;
}

#btn {
    font-family: 'Niconne', cursive;
    font-size: 20px;
    transform: scale(1.5, 1.5);
}

#logout, #login-signup {
    font-family: 'Niconne', cursive; 
    color: #E3DAC9; 
    background-color: #28100ca6;
    border: 2px solid #E3DAC9;
    border-radius: 5px;
} 